section.slide {
	margin-top: 22px;
}
section.slide .mainSlide {
	position: relative;
	overflow: hidden;
	height:420px;
}
section.slide .mainSlide ul.picCon{
	list-style: none;
	height:420px;
	
}
section.slide .mainSlide ul.picCon li {
	position: absolute;
	top: 0;
	left: 0;
}
section.slide .mainSlide ul.picCon li img{
	opacity: 0;
	transition: 2s;
}
section.slide .mainSlide ol {
	position: absolute;
	left: 900px;
	bottom: 14px; 
}
section.slide .mainSlide ol li {
	float: left;
	margin-right: 16px;
}
section.slide .mainSlide ol li span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #FFFFFF;
	border: 1px solid #96773d;
	cursor: pointer;
}
section.slide .mainSlide ol li span.active {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #96773d;
	border: 4px solid rgba(177,158,122,1);
	cursor: pointer;
}
section.slide .mainSlide a.picBtn {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #d0c4af;
	color: #FFFFFF;
	font: 24px/50px "微软雅黑";
	text-align: center;
	position: absolute;
}
section.slide .mainSlide a.picBtn:hover {
	background: #b19e7a;
}
section.slide .mainSlide #prev {
	left: 360px;
	top: 200px;
}
section.slide .mainSlide #next {
	right: 360px;
	top: 200px;
}


/*品牌制造商开始*/
section.manufacturer a {
	text-decoration: none;
	color: #000000;
}
section.manufacturer .manufacturer_hd {
	position: relative;
	padding: 60px 0 20px 0;
}

section.manufacturer .manufacturer_hd strong {
	float: left;
	font: 28px/28px "微软雅黑";
	font-weight: 600;
}
section.manufacturer .manufacturer_hd p.subTitle {
	float: left;
	line-height: 12px;
	margin: 14px 0 0 20px;
}
section.manufacturer .manufacturer_hd .right {
	float: right;
	text-align: right;
	padding-top: 14px;
}
section.manufacturer .manufacturer_bd ul {
	list-style: none;
	position: relative;
}
section.manufacturer .manufacturer_bd ul li {
	float: left;
	position: relative;
	overflow: hidden;
}
section.manufacturer .manufacturer_bd ul li img {
	transition: all 1s ease;
}
section.manufacturer .manufacturer_bd ul li .mask:hover img {
	transform:scale(1.03);
	-ms-transform:scale(1.03); /* IE 9 */
	-moz-transform:scale(1.03); /* Firefox */
	-webkit-transform:scale(1.03); /* Safari and Chrome */
	-o-transform:scale(1.03); /* Opera */
}
section.manufacturer .manufacturer_bd ul li.box1 {
	margin-right: 9px;
	width: 357px;
	height: 320px;
}
section.manufacturer .manufacturer_bd ul li:last-child {
	margin: 0;
}
section.manufacturer .manufacturer_bd ul li.box1 .text {
	text-align: center;
	width: 100%;
	z-index: 4;
	margin: 48px 0 19px;
	position: absolute;
	font: 24px/24px "微软雅黑";
}
section.manufacturer .manufacturer_bd ul li.box1 .text span.shangxinLabel {
	width: 32px;
	height: 22px;
	position: absolute;
	top: -4px;
	/*left: 2px;*/
	color: #FFFFFF;
	background: url(../img/shangxin.png) no-repeat 0,0;
	font: 10px/20px "微软雅黑";
}
section.manufacturer .manufacturer_bd ul li.box1 .text p.minPrice {
	font: 12px/46px "微软雅黑";
	border-top: 1px solid #CCCCCC;
	width: 50px;
	margin: 17px 0 17px 156px;
}
section.manufacturer .manufacturer_bd ul li.box2 {
	margin-bottom: 9px;
	width: 358px;
	height: 155px;
}
section.manufacturer .manufacturer_bd ul li.box2 .text {
	width: 100%;
	z-index: 4;
	margin-left: 20px;
	position: absolute;
	font: 20px/50px "微软雅黑";
}
section.manufacturer .manufacturer_bd ul li.box2 .text span.shangxinLabel {
	width: 32px;
	height: 22px;
	position: absolute;
	top: 5px;
	color: #FFFFFF;
	background: url(../img/shangxin.png) no-repeat 0,0;
	font: 10px/18px "微软雅黑";
}
section.manufacturer .manufacturer_bd ul li.box2 .text p.minPrice {
	font: 12px/30px "微软雅黑";
	border-top: 1px solid #CCCCCC;
	width: 50px;
}


/*品牌制造商结束*/
/*新品首发开始*/
section.newArrival a {
	text-decoration: none;
	color: #000000;
}
section.newArrival .newArrival_hd {
	position: relative;
	padding: 60px 0 20px 0;
}

section.newArrival .newArrival_hd strong {
	float: left;
	font: 28px/28px "微软雅黑";
	font-weight: 600;
}
section.newArrival .newArrival_hd p.subTitle {
	float: left;
	line-height: 12px;
	margin: 14px 0 0 20px;
}
section.newArrival .newArrival_hd .right {
	float: right;
	text-align: right;
	padding-top: 14px;
}
section.newArrival .newArrival_bd .newArrival_slideBox {
	
	height: 398px;
	overflow: hidden;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide {
	list-style: none;
	position: relative;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li {
	width: 265px;
	float: left;
	margin: 0 10px 50px 0;
	position: relative;
	text-align: center;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li span.colorNum {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 53px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #b19e7a;
	background: #f4f0ea;
	color: #b9936e;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li span.slogan1 {
	display: inline-block;
	background: #e36843;
	font: 12px/20px "微软雅黑";
	padding: 0 5px;
	margin-top: 9px;
	text-align: center;
	color: #FFFFFF;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li p.goodsTitle {
	font: 12px/26px "微软雅黑";
	font-weight: 600;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li p.price {
	font: 12px/20px "微软雅黑";
	color: #d74b2d;
}
section.newArrival .newArrival_bd .newArrival_slideBox #newArrival_slide li p span.manuLabel {
	color: #333333;
}

section.newArrival .newArrival_bd .newArrival_slideBox a.picBtn {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background: #d0c4af;
	color: #FFFFFF;
	font: 24px/50px "微软雅黑";
	text-align: center;
	position: absolute;
}
section.newArrival .newArrival_slideBox a.picBtn:hover {
	background: #b19e7a;
}
section.newArrival .newArrival_slideBox a#leftBtn {
	left: -50px;
	top: 200px;
}
section.newArrival .newArrival_slideBox a#rightBtn {
	right: -50px;
	top: 200px;
}

/*新品首发结束*/

/*人气推荐开始*/
section.hot {
	background: #f4f0ea;
}
section.hot a {
	text-decoration: none;
	color: #000000;
}
section.hot .hot_hd {
	position: relative;
	padding: 60px 0 20px 0;
}

section.hot .hot_hd strong {
	float: left;
	font: 28px/28px "微软雅黑";
	font-weight: 600;
}
section.hot .hot_hd ul.tab_menu {
	float: left;
	position: relative;
	margin-top: 5px;
	/*margin-left: 14px;*/
}
section.hot .hot_hd ul.tab_menu li {
	font: 12px/22px "微软雅黑";
	text-align: center;
	float: left;
	width: 70px;
	margin: 0 25px;
	/*margin-right: 50px;
	margin-left: 14px;*/
}
section.hot .hot_hd ul.tab_menu li.active {
	border-bottom: 2px solid #b4a078;
	color: #b4a078;
}
section.hot .hot_hd .right {
	float: right;
	text-align: right;
	padding-top: 14px;
}

section.hot .hot_bd .hotLeft {
	float: left;
	width: 390px;
	height: 530px;
	background: #FFFFFF;
	position: relative;
	text-align: center;
}
section.hot .hot_bd .hotLeft span.colorNum {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 53px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #b19e7a;
	background: #f4f0ea;
	color: #b9936e;
}
section.hot .hot_bd .hotLeft .imgBox {
	width: 390px;
	height: 390px;
	padding-top: 10px;
	border-bottom: 1px solid #f4f0ea;
}
section.hot .hot_bd .hotLeft .imgBox img {
	width: 390px;
	height: 390px;
}
section.hot .hot_bd .hotLeft .mask span.slogan1 {
	display: inline-block;
	background: #e36843;
	font: 12px/20px "微软雅黑";
	padding: 0 5px;
	margin-top: 9px;
	text-align: center;
	color: #FFFFFF;
}
section.hot .hot_bd .hotLeft .mask p.goodsTitle {
	font: 12px/26px "微软雅黑";
	font-weight: 600;
}
section.hot .hot_bd .hotLeft .mask p.price {
	font: 12px/20px "微软雅黑";
	color: #d74b2d;
}
section.hot .hot_bd .hotLeft .mask p span.manuLabel {
	color: #333333;
}

/*人气推荐结束*/